
html {
  --color-text: #53b653;
  --color-click: #53b653;
  --color-site: #131413;
  --color-cabeçalho:#181a18; 
  --color-moon:#1c2496;
  --color-sun: #ffcc00;
  --color-projeto: #1d1d1d;
  overflow-y: scroll;
  
}

.light {
  --color-text: #181a18;
  --color-click: #53b653;
  --color-site: #fff;
  --color-cabeçalho:#f6f8f6; 
  --color-moon: #f6f8f6;
  --color-sun: #181a18;
  --color-projeto: #f7f7fa
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 62,5%;
  font-family: 'Roboto', sans-serif;
}
  /*    CABEÇALHOO   */

.cabeçalho {
  background: var(--color-cabeçalho);
  position: fixed;
  display: inline-flex;
  width: 100%;
  height: 5rem;
  justify-content:center;
  align-items: center;
  gap: 6rem;
  z-index: 9999;
}

#contact {
  position: relative;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid ;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: var(--color-click);
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

#contact:hover {
  background: var(--color-click);
  color: var(--color-site);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

#contact:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

#contact::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

ul, li {
  list-style-type: none;
}

#inicio {
  font-size: 17px;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: var(--color-click);
  text-transform: uppercase;
  position: relative;
  transition: .5s ease;
}

#inicio::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: var(--color-click);
  transition: .5s ease;
}

#inicio:hover {
  color: var(--color-cabeçalho);
  transition-delay: .5s;
}

#inicio:hover::before {
  width: 100%;
}

#inicio::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: var(--color-click);
  transition: .4s ease;
  z-index: -1;
}

#inicio:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: aliceblue;
}

.toggle-switch {
  position: relative;
  width: 50px;
  height: 25px;
  --light: #d8dbe0;
  --dark: #28292c;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
}

.switch-label {
  position: absolute;
  width: 100%;
  height: 25px;
  background-color: var(--dark);
  border-radius: 25px;
  cursor: pointer;
  border: 3px solid var(--dark);
}

.checkbox {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 4px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
  box-shadow: inset 12px -4px 0px 0px var(--light);
  background-color: var(--dark);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(30px);
  background-color: var(--dark);
  -webkit-box-shadow: none;
  box-shadow: none;
}


@media (max-width: 1400px) {
  .cabeçalho {
    width: 70%;
  position: fixed;
  display: inline-flex;
  height: 5rem;
  justify-content:center;
  align-items: center;
  gap: 3.7rem;
  z-index: 9999;
  }


}

@media (max-width: 1200px) {
  
  .cabeçalho {
    background: var(--color-cabeçalho);
    width: 100%;
    height: 5rem;
    justify-content:center;
    align-items: center;
    position: relative;
    gap: 5px;
    overflow-x: hidden;
  }

  .toggle-switch {
    margin-left: 7rem;
  }
  
}


@media (max-width: 480px) {
  body {
    overflow-x: hidden;
  }

  #park {
    display: none;
  }
  .toggle-switch {
    display: none;
  }
  .cabeçalho {
    background: var(--color-cabeçalho);
    width: 480px;
    height: 5rem;
    
  }

  #contact {
    width: 10rem;
    font-size: 1.5rem;
    justify-content:center;
    align-items: center;
    position: absolute;
    left: 10rem;
  }
  a {
    display: none;
  }
  
}

 /*    CABEÇALHOO   */





    /*    HOME    */

  #home{
    background: var(--color-site);
    height: 45rem;
    width: 100%;
    }
  
  h1,h3 {
    color: var(--color-text);
  }  
  .conteiner-text {
    position: relative;
    top: 20rem;
    left: 15rem;
    font-size: 2rem;
  }
  
  #social{
    color: var(--color-click);
      width: 140px;
      height: auto;
      float: left;
      transition: .5s linear;
      position: relative;
      display: block;
      overflow: hidden;
      padding: 15px;
      text-align: center;
      margin: 0 5px;
      background: transparent;
      text-transform: uppercase;
      font-weight: 900;
    }
    
    #social:before {
      position: absolute;
      content: '';
      left: 0;
      bottom: 0;
      height: 4px;
      width: 100%;
      border-bottom: 4px solid transparent;
      border-left: 4px solid transparent;
      box-sizing: border-box;
      transform: translateX(100%);
    }
    
    #social:after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 4px;
      border-top: 4px solid transparent;
      border-right: 4px solid transparent;
      box-sizing: border-box;
      transform: translateX(-100%);
    }
    
    #social:hover {
      box-shadow: 0 5px 15px var(--color-click);
    }
    
    #social:hover:before {
      border-color: var(--color-click);
      height: 100%;
      transform: translateX(0);
      transition: .3s transform linear, .3s height linear .3s;
    }
    
    #social:hover:after {
      border-color: var(--color-click);
      height: 100%;
      transform: translateX(0);
      transition: .3s transform linear, .3s height linear .5s;
    }

    span {
      color: var(--color-click);
    }

    @media (max-width:480px) {
      #home {
        width: 480px;
        display: flex;
        height: 22rem;
      }

      .conteiner-text {
      height: 5rem;
      justify-content:center;
      align-items: center;
      position: relative;
      top: 7rem;
      left: 0;
      font-size: 24px;
      }
    }


    /*    HOME    */




    /*     ABOUT     */

    #about {
      background: var(--color-site);
      height: 35rem;
      width: 100%;
      overflow: hidden;
      padding-top: 7rem;
    }

.sobre-mim {
  flex-direction: column;
  width: 50%;
  position: relative;
  left: 54rem;
  top: 10rem;

}

.sobre-h1 {
position: relative;
text-align: center;
color: var(--color-click);
font-size: 3rem;

}
.sobre-p {
  text-align: center;
  font-size: 1.5rem;
  color: var(--color-text);
}

@media (max-width:1400px) {
  #about {
    width: 1400px;
  }
  
  .sobre-mim{
    left: 25rem;
    
  }
}

@media (max-width:1200px) {

  #about {
    width: 1200px;
  }
  

  .sobre-mim {
    width: 80%;
    position: relative;
    left: 8%;
    font-size: 1px;
  }

  .sobre-h1 {
    font-size: 50px;
  }

  .sobre-p {
    font-size: 25px;
  }
}



@media (max-width:480px) {

  #about {
    width: 480px;
  }

  .sobre-mim {
    width: 420px;
    position: relative;
    left: 0;
    font-size: 1px;
  }

  .sobre-h1 {
    font-size: 40px;
  }

  .sobre-p {
    font-size: 20px;
  }
}

     /*     ABOUT     */


     
/*      SKILLS     */

#habilidades {
  background: var(--color-site);
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding-top: 20rem;
}

.skill {
  color:var(--color-click);
  position:relative;
    text-align:center;
    justify-content:center;
    font-size: 50px;
}

.h3-skill {
  color:var(--color-click);
  position:relative;
    text-align:center;
    justify-content:center;
    font-size: 50px;
}

.moment-img {
  color:var(--color-click);
  position:relative;
  text-align:center;
  font-size: 50px;
    
}


.future-img {
  color:var(--color-click);
  position:relative;
    text-align:center;
    justify-content:center;
    font-size: 50px;
}

#skill-img:hover {
  font-size: 60px;
}


@media (max-width: 1400px){
  #habilidades {
    width: 100%;
  }

  .skill {
    font-size: 50px;
    left: -8rem;
  }
  
  .h3-skill {
    font-size: 50px;
    position:relative;
    left: -8rem;
  }
  
  .moment-img {
    font-size:50px;
    left: -8rem;
  }
  
  .future {
    left: -8rem;
  }
  
  .future-img {
    left: -8rem;
  }

}

@media (max-width: 1200px) {
  #habilidades {
    width:100%;
    gap: 2rem;
  }
  
  .skill {
    font-size: 50px;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  
  .h3-skill {
    font-size: 50px;
    position:relative;
  }
  
  .moment-img {
    font-size:50px;
    
  }
  
  .future {
    display: none;
  }
  
  .future-img {
   display: none;
  }
}


@media (max-width: 1200px) {
  #habilidades {
    width:100%;
    display: flex;
    gap: 2rem;
    padding-top: 12rem;
    padding-bottom: 7rem;
  }
  
  .skill {
    font-size: 50px;
    position: relative;
    
  }
  
  .h3-skill {
    font-size: 40px;
    position:relative;
  }
  
  .moment-img {
    font-size:50px;
    
  }
  
  .future {
    font-size: 40px;
    
  }
  
  .future-img {
    font-size: 40px;
    
  }
}


@media (max-width: 480px) {
  #habilidades {
    width:480px;
    display: flex;
    gap: 2rem;
    padding-top: 12rem;
  }
  
  .skill {
    font-size: 40px;
    position: relative;
    
  }
  
  .h3-skill {
    font-size: 35px;
    position:relative;
  }
  
  .moment-img {
    font-size:50px;
    
  }
  
  .future {
    display: none;
  }
  
  .future-img {
   display: none;
  }
  
  
}




/*      SKILLS     */



/*      PROJETOS     */

#projetos {
  background: var(--color-site);
  width: 100%;
  height: 50.0rem;
  padding-top: 7rem;
}

.projetos-futuros {
  text-align: center;
  color: var(--color-click);
  font-size: 4.0rem;
  padding-top:7rem;
  position: relative;
  text-align: center;
  
}
.projetos-future {
  position:absolute;
  left: 50%;
  top:15rem;
  transform: translate(-50%);
  width: 80rem;
  height: 20rem;
  display: flex;
  text-align: center;
  justify-content: space-between;
  
}
.projetos-future div {
height: 20rem;
  width: 30%;
  background-color: var(--color-projeto);
  position: relative;
  overflow: hidden;
}
.projetos-future div:before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, #53b653 0%, #53b653 50%,  50%, 100%);
  transform: translateY(50%) rotate(-45deg);
  transform-origin: 0 0;
  transition: transform 0.5s;
}
.projetos-future div:after {
  content: "Em breve";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(40deg);
  font-size: 2rem;
  color: var(--color-site);
}
.projetos-future div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 7%;
  width: 10.0rem;
  height: 100%;
  background-color: var(--color-click);
  transform: skewX(50deg) translateX(-70%);
  display: inline-block; /* A faixa é exibida como um bloco de linha */
}

@media (max-width: 1400px){
  #projetos {
    width: 100%;
  }

  .projetos-futuros {
    width: 80%;
  }
}


@media (max-width: 1200px){
  
  #projetos {
    width: 100%;
    height: 80px;
    padding-top: 35px;
    background-color: var(--color-site);
  }
  
  .projetos-futuros{
    width: 100%;
    font-size: 50px;
    position:absolute;
    text-align:center;
    justify-content:center;
  }

  .projetos-future div {
      height: 20rem;
      width: 100%;
      background-color: var(--color-projeto);
      position: relative;
      overflow: hidden;
    }

  .projeto-1 {
    display: none;
  }

  .projeto-3 {
    display: none;
  }

  .projetos-future div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 37%;
    width: 10.0rem;
    height: 100%;
    background-color: var(--color-click);
    transform: skewX(50deg) translateX(-70%);
    display: inline-block; /* A faixa é exibida como um bloco de linha */
  }
  
}

@media (max-width: 480px){
  #projetos {
    width: 450px;
    height: 100px;
    margin-top: 20px;
    background-color: var(--color-site);
  }
  
  .projetos-futuros{
    
    font-size: 40px;
    position:relative;
    text-align:center;
    justify-content:center;
  }
}


/*      PROJETOS     */



/*  FOOTER   */ 

footer {
  background: var(--color-click);
  position: relative;
  width: 100%;
  bottom: -124rem;
  height: 5rem;
}

.site {
  position: relative;
  text-align: center;
  justify-content: center;
  margin-top: 1rem;
  color: #fff
}

#park  {
  position: absolute;
  top: 1;
  bottom: 0;
  right: 0;
  height: 11rem;
  width: 11rem;
}

#park:hover {
  transform: scale(1.1);
  overflow: visible;
}

@media (max-width:1400px) {
  footer {
    width: 82%;
    bottom: -10rem;
  }

  .creditos {
    left: -10rem;
  }
}

@media (max-width:1200px) {
  footer {
    width:95%;
    bottom: -40rem;
  }
}

@media (max-width:480px){
  footer {
    width:100%;
    bottom: -40rem;
  }
  
  .creditos {
    font-size: 15px;
    position:relative;
    text-align:center;
    justify-content:center;
  }

  
      
}

/*  FOOTER   */ 






 
  
  
