html {
  --color-text: #f6f8f6;
  --color-click: #53b653;
  --color-site: #131413;
  --color-cabeçalho:#181a18; 
  --color-moon:#1c2496;
  --color-sun: #ffcc00;
  --color-projeto: #1d1d1d;
  overflow-y: scroll;
  overflow-x: hidden;
}

.light {
  --color-text: #181a18;
  --color-click: #53b653;
  --color-site: #fff;
  --color-cabeçalho:#f6f8f6; 
  --color-moon: #f6f8f6;
  --color-sun: #181a18;
  --color-projeto: #f7f7fa
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 62,5%;
  font-family: 'Roboto', sans-serif;


  
}
  /*    CABEÇALHOO   */

.cabeçalho {
  background: var(--color-cabeçalho);
  position: fixed;
  display: inline-flex;
  width: 100%;
  height: 5rem;
  justify-content:center;
  align-items: center;
  gap: 6rem;
  z-index: 9999;
}

#contact {
  position: relative;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid ;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: var(--color-click);
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

#contact:hover {
  background: var(--color-click);
  color: var(--color-site);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

#contact:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

#contact::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

ul, li {
  list-style-type: none;
}

#inicio {
  font-size: 17px;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: var(--color-click);
  text-transform: uppercase;
  position: relative;
  transition: .5s ease;
}

#inicio::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: var(--color-click);
  transition: .5s ease;
}

#inicio:hover {
  color: var(--color-cabeçalho);
  transition-delay: .5s;
}

#inicio:hover::before {
  width: 100%;
}

#inicio::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: var(--color-click);
  transition: .4s ease;
  z-index: -1;
}

#inicio:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: aliceblue;
}

.toggle-switch {
  position: relative;
  width: 50px;
  height: 25px;
  --light: #d8dbe0;
  --dark: #28292c;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
}

.switch-label {
  position: absolute;
  width: 100%;
  height: 25px;
  background-color: var(--dark);
  border-radius: 25px;
  cursor: pointer;
  border: 3px solid var(--dark);
}

.checkbox {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 4px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
  box-shadow: inset 12px -4px 0px 0px var(--light);
  background-color: var(--dark);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(30px);
  background-color: var(--dark);
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media (max-width: 1200px) {
  .cabeçalho {
    background: var(--color-cabeçalho);
    width: 100%;
    height: 5rem;
    justify-content:center;
    align-items: center;
    position: relative;
    gap: 5px;
  }

  .toggle-switch {
    margin-left: 7rem;
  }
  
}


@media (max-width: 480px) {
  #park {
    display: none;
  }
  .toggle-switch {
    display: none;
  }
  .cabeçalho {
    background: var(--color-cabeçalho);
    width: 480px;
    height: 5rem;
    
  }

  #contact {
    width: 10rem;
    font-size: 1.5rem;
    justify-content:center;
    align-items: center;
    position: absolute;
    left: 10rem;
  }
  a {
    display: none;
  }
  
}

 /*    CABEÇALHOO   */





    /*    HOME    */

  #home{
    background: var(--color-site);
    height: 45rem;
    width: 100%;
    }
  
  h1,h3 {
    color: var(--color-text);
  }  
  .conteiner-text {
    position: relative;
    top: 20rem;
    left: 20rem;
    font-size: 2rem;
  }
  
  #social{
    color: var(--color-click);
      width: 140px;
      height: auto;
      float: left;
      transition: .5s linear;
      position: relative;
      display: block;
      overflow: hidden;
      padding: 15px;
      text-align: center;
      margin: 0 5px;
      background: transparent;
      text-transform: uppercase;
      font-weight: 900;
    }
    
    #social:before {
      position: absolute;
      content: '';
      left: 0;
      bottom: 0;
      height: 4px;
      width: 100%;
      border-bottom: 4px solid transparent;
      border-left: 4px solid transparent;
      box-sizing: border-box;
      transform: translateX(100%);
    }
    
    #social:after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 4px;
      border-top: 4px solid transparent;
      border-right: 4px solid transparent;
      box-sizing: border-box;
      transform: translateX(-100%);
    }
    
    #social:hover {
      box-shadow: 0 5px 15px var(--color-click);
    }
    
    #social:hover:before {
      border-color: var(--color-click);
      height: 100%;
      transform: translateX(0);
      transition: .3s transform linear, .3s height linear .3s;
    }
    
    #social:hover:after {
      border-color: var(--color-click);
      height: 100%;
      transform: translateX(0);
      transition: .3s transform linear, .3s height linear .5s;
    }

    span {
      color: var(--color-click);
    }

    @media (max-width:480px) {
      #home {
        width: 480px;
        display: flex;
        height: 22rem;
      }

      .conteiner-text {
      height: 5rem;
      position:relative;
      text-align:center;
      justify-content:center;
      top: 7rem;
      left: 20px;
      font-size: 24px;
      }
      
      #social {
      position:relative;
      text-align:center;
      left:65px;
      }
    }


    /*    HOME    */




    /*     ABOUT     */

    #about {
      background: var(--color-site);
      height: 30rem;
      width: 100%;
      overflow: hidden;
    }

.sobre-mim {
  flex-direction: column;
  width: 50%;
  position: relative;
  left: 54rem;
  top: 7rem;

}

.sobre-h1 {
position: relative;
text-align: center;
color: var(--color-click);
font-size: 3rem;

}
.sobre-p {
  text-align: center;
  font-size: 1.5rem;
  color: var(--color-text);
}



@media (max-width:1200px) {
  #about {
    width: 1200px;
  }

  .sobre-mim {
    width: 1200px;
    position: relative;
    left: 0;
    font-size: 1px;
  }

  .sobre-h1 {
    font-size: 40px;
  }

  .sobre-p {
    font-size: 20px;
  }
}



@media (max-width:480px) {
  #about {
    width: 480px;
  }

  .sobre-mim {
    width: 480px;
    position: relative;
    left: 0;
    font-size: 1px;
  }

  .sobre-h1 {
    font-size: 40px;
  }

  .sobre-p {
    font-size: 20px;
  }
}

     /*     ABOUT     */

/*      SKILLS     */

#habilidades {
  background: var(--color-site)
}

.skill {
  color:var(--color-click);
}

.h3-img {
  color:var(--color-click);
}

.moment-img {
  color:var(--color-click);
}


.future-img {
  color:var(--color-click);
}



@media (max-width: 480px) {
  #habilidades {
    width:480px;
    margin-top: 2rem;
     
  }
  
  .skill {
    font-size: 40px;
    position:relative;
    text-align:center;
    justify-content:center;
  }
  
  .moment {
    font-size: 25px;
    position:relative;
    text-align:center;
    justify-content:center;
    margin-top: 30px;
  }
  
  .moment-img {
    position:relative;
    text-align:center;
    font-size:40px;
    margin-top:10px;
  }
  
  .future {
    font-size: 25px;
    position:relative;
    text-align:center;
    justify-content:center;
    margin-top: 30px;
  }
  
  .future-img {
    position:relative;
    text-align:center;
    font-size:40px;
    margin-top:10px;
  }
  
  
}




/*      SKILLS     */



/*      PROJETOS     */

#projetos {
  background: var(--color-site)
}

.projetos-futuros{
  color:var(--color-click)
}



@media (max-width: 480px){
  #projetos {
    width: 480px;
    height: 100px;
    border: solid red;
    margin-top: 35px;
  }
  
  .projetos-futuros{
    
    font-size: 40px;
    position:relative;
    text-align:center;
    justify-content:center;
  }
}


/*      PROJETOS     */



/*  FOOTER   */ 

footer {
  background: var(--color-click)
}

@media (max-width:480px){
  footer {
    width:480px
  }
  
  .creditos {
    font-size: 15px;
    position:relative;
    text-align:center;
    justify-content:center;
  }
  
}

/*  FOOTER   */ 


 
  
  
